<body>
<div class="right-column" #div>
  <div class="JeetCode-logo" [routerLink]="'home'">
    <img src="/assets/images/JeetCode-faviconblackbox.svg" class="jc-logo-image">
  </div>
  <div class="login-message">
    <p>LOGIN ➔</p>
  </div>
  <!-- Conditionally render signup-box if a keyboard is attached -->
  <div *ngIf="isKeyboardAttached; else smallScreenTemplate">
    <div class="login-box">
      <div class="title-bar">
        <div class="button-1">

        </div>
        <div class="button-2">

        </div>
        <div class="button-3">

        </div>
      </div>
      <ngx-typed-js [strings]="['login']"
                    [typeSpeed]="200"
                    [startDelay]="1000"
                    [cursorChar]="'_'"
                    [loop]="false"
                    [showCursor]="true"
                    *ngIf="!formVisible"
      >
        <p class="terminal-text">jeetCode guest> <span class="typing"></span></p>
      </ngx-typed-js>
      <p class="terminal-text" *ngIf="formVisible">jeetCode guest>
        <span class="typing">login</span>
      </p>
      <!--    (keydown.enter)="handleFormKeydown($event)"-->
      <!--    (keydown.enter)="$event.preventDefault()"-->
      <form
        (keydown.enter)="handleFormKeydown($event)"
        #loginForm="ngForm" (ngSubmit)="LoginFormSubmit(loginForm.value)">
        <p class="terminal-text" *ngIf="formVisible && showUserNameInput">jeetCode guest> login/username>
          <input
            ngModel name="fullName"
            #fullName="ngModel"
            type="text"
            class="invisible-input" id="fullName" placeholder="*enter user name*"
            (keyup.enter)="handleUsernameEnter()"
            required
          >
        </p>

        <div class="terminal-line" *ngIf="formVisible && showPasswordInput">
          <p class="terminal-text">jeetCode guest> login/password>
            <input
              ngModel name="password"
              #password="ngModel"
              class="invisible-input"
              id="password"
              type="password"
              placeholder="*enter password*"
              (keyup.enter)="handlePasswordEnter()"
              minlength="8"
              required
            >
          </p>
          <!--         This is the error section -->
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="terminal-alert">
            <div *ngIf="loginForm.controls['password']?.value.length < 8">
              password should be at least 8 characters
            </div>
          </div>
          <div *ngIf="loginForm.controls['password']?.value.length >= 8"
               class="terminal-alert-good">
            ✓ password looks okay
          </div>
        </div>

        <div class="input-div" *ngIf="formVisible && showButton">
          <button type="reset"
                  class="reset-button" #resetButton
                  (click)="handleResetClick()"
          >Cancel
          </button>
          <button type="submit"
                  [disabled]="!loginForm.form.valid"
                  class="sub-button" id="subButton" #subButton
          >Submit
          </button>
        </div>
      </form>
      <div *ngIf="failedLogin" class="failed-login">
        ERR-- Authentication failed, check credentials
      </div>
      <p class="wantSignup" [routerLink]="'/signup'">SignUp?</p>
    </div>
  </div>
  <ng-template #smallScreenTemplate>
    <app-small-screen-login></app-small-screen-login>
  </ng-template>
</div>
</body>
