@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'Nanum_Myeongjo';
  src: url('assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Nanum_Myeongjo';
  src: url('assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Nanum_Myeongjo';
  src: url('assets/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* You might need to adjust this value based on the font's specifications */
  font-style: normal;
}

@font-face {
  font-family: 'Noto_Sans_Mono';
  src: url('assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal; /* You might need to adjust this value based on the font's specifications */
  font-style: normal;
}

@font-face {
  font-family: 'HealTheWebA';
  src: url('assets/fonts/healtheweb-typeface-main/HealTheWebA-Regular.otf') format('truetype');
  font-weight: normal; /* You might need to adjust this value based on the font's specifications */
  font-style: normal;
}
@font-face {
  font-family: 'HealTheWebB';
  src: url('assets/fonts/healtheweb-typeface-main/HealTheWebB-Regular.otf') format('truetype');
  font-weight: normal; /* You might need to adjust this value based on the font's specifications */
  font-style: normal;
}

@font-face {
  font-family: 'DT-Getai-Grotesk';
  src: url('assets/fonts/DT-Getai-Grotesk/DTGetaiGroteskDisplay-Black.otf') format('truetype');
  font-weight: normal; /* You might need to adjust this value based on the font's specifications */
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('assets/fonts/ClashGrotesk_Complete/Fonts/Variable/ClashGrotesk-Variable.ttf') format('truetype');
  font-style: normal;
}

@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/material';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/blackboard.css';
@import 'codemirror/theme/darcula.css';
@import 'codemirror/theme/night.css';
@import 'codemirror/theme/cobalt.css';
