.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  background: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.container:after {
  content: "";
  width: 100%;
  height: 100vh;
  background: url("https://i.imgur.com/PsjPzdO.png");
  background-size: 200px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
}

.container .blobs {
  width: 50vh;
  height: 50vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .blobs .blob {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  background-color: #73a612;
  mix-blend-mode: multiply;
  filter: blur(80px);
}

.container .blobs .blob.a {
  background-color: #5a9307;
  animation: circular2 40s linear infinite;
}

.container .blobs .blob.b {
  background-color: #a7a945;
  animation: circular 20s linear infinite;
}

.container .blobs .blob.c {
  background-color: #1f1f12;
  animation: circular 5s linear infinite;
}

.container .blobs .blob.d {
  background-color: #57a945;
  animation: circular 10s reverse infinite;
}

@keyframes circular {
  0% { transform: translate(0, -150px); }
  25% { transform: translate(150px, 0); }
  50% { transform: translate(0, 150px); }
  75% { transform: translate(-150px, 0); }
  100% { transform: translate(0, -150px); }
}

@keyframes circular2 {
  0% { transform: translate(0, 150px); }
  25% { transform: translate(-150px, 0); }
  50% { transform: translate(0, -150px); }
  75% { transform: translate(150px, 0); }
  100% { transform: translate(0, 150px); }
}

// Add any additional styles for your component here
